.badge {
    $root: &;
    font-weight: 500;
    transition: background-color $transition;
}

a.badge {
    &:hover {
        background-color: $color--off-black !important;
        color: $color--white !important;
    }
}
