.button,
.tbxforms-button {
  background-image: none;
  border: 0;
  box-shadow: none;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--primary {
    font-weight: 800;
    color: $color--white;
    border: 3px inset $color--primary;
    background-color: $color--primary;
    transition: background-color $transition, border-color $transition;
    margin-right: 10px;

    &:hover,
    &:focus {
      background-color: $color--off-black;
      border-color: $color--off-black;
      color: $color--white;
    }
  }

  &--secondary {
    font-weight: 600;
    color: $color--primary;
    border: 3px inset $color--primary;
    background-color: $color--white;
    transition: border-color $transition, color $transition;

    &:hover,
    &:focus {
      border-color: $color--off-black;
      color: $color--off-black;
    }
  }

  &--small {
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 20px;
  }
}
