{% load static %}<!DOCTYPE html>
<html class="no-js {% block html_class %}{% endblock %}" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            The National Archives: Account management -
            {% block title_prefix %}
                {% if form.errors %}Error: {% endif %}
            {% endblock %}
            {% block title %}{{ title }}{% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}{% endblock %}

        {% block extra_gtm_js %}
            {# Override this in templates to add extra javascript to be used by GTM #}
        {% endblock %}

        {% include "patterns/molecules/gtm-script.html" %}

        {# Google Fonts #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
            rel="stylesheet">
        <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>

        {# Adobe Fonts #}
        <link rel="preconnect" href="https://use.typekit.net">
        <link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">

        {# Favicon #}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <a href="#maincontent" class="skip-to-content-link visually-hidden-focusable" data-link="Skip to main content">Skip to main content</a>

        {% include 'patterns/molecules/gtm-no-script.html' %}

        {% block header %}
            {% include 'patterns/molecules/header.html' %}
        {% endblock %}

        {% block main %}
            <main id="maincontent">
                <div class="u-layout container mb-5 mt-5">

                    {% block messages %}
                        {% for message in messages %}
                            <div class="alert-{{ message.tags }}" role="alert">
                                {{ message | safe }}
                            </div>
                        {% endfor %}
                    {% endblock %}

                    <h1>{% block main_heading %}{{ main_heading }}{% endblock %}</h1>

                    {% block content %}{% endblock %}

                </div>
            </main>
        {% endblock %}

        {% block footer %}
            {% include 'patterns/molecules/footer.html' %}
        {% endblock %}

        <script src="{% static 'js/main.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
