{% load static %}

{% include 'patterns/molecules/login-status.html' %}

<header class="header">
  <div class="header__container">
    <div class="d-flex flex-wrap align-items-bottom justify-content-between">
        <div class="header__logo-holder">
          <a href="/" class="header__logo-link"
            ><img
              src="{% static 'images/tna-blk-logo-beta.svg' %}"
              class="header__logo-image"
              alt="The National Archives logo"
          /></a>
        </div>
        
        <nav class="header__nav" aria-label="Site menu">
          <ul class="header__nav-list d-flex flex-row align-items-end">
              <li class="header__nav-list-item me-1">
                  <a class="header__nav-list-item-link" href="/test1" aria-current="true">dummy nav item </a>
              </li>
              <li class="header__nav-list-item">
                <a class="header__nav-list-item-link" href="/test2" aria-current="true">dummy nav item </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </header>
